<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="jumbotron jumbotron my-0">
                <div class="container">
                    <h1 class="display-4">{{displayedOffer.title}}</h1>
                    <h3>{{displayedOffer.price}} €</h3>
                    {{#each displayedOffer.images}}
                    <img src="{{this}}"/>
                    {{/each}}
                    <h5>Description :</h5>
                    <p class="mt-3">{{displayedOffer.description}}</p>
                    <p>id : {{displayedOffer.id}}</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <img src="{{displayedOffer.user.thumbnail}}"/>
            <h5>Uploaded by : {{displayedOffer.user.firstName}} {{displayedOffer.user.surname}}</h5>
            <p>Mon Moto : "{{displayedOffer.user.description}}"</p>
        </div>
    </div>
</div>

{{!-- <div class="container">
    <div class="row">
        <div class="col-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {{#each displayedOffer.images}}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                    {{/each}}
                </ol>
                <div class="carousel-inner">
                    {{#each displayedOffer.images}}
                    <div class="carousel-item active">
                    <img src="{{this}}" class="d-block w-100" alt="...">
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div> --}}